@inherits BaseTypography

<li @ref="@ElementRef" class="@(Icon ? "flex items-center":"") @Class" @attributes="@UserAttributes">
    @ChildContent
</li>

@code {
    /// <summary>
    /// Defines whether the content has an icon. Default is false.
    /// </summary>
    [Parameter]
    public bool Icon { get; set; }
    
    /// <summary>
    /// The List parent if the ListItem is inside a List
    /// </summary>
    [CascadingParameter]
    public List? Parent { get; set; }
}