<h3 class="text-justify">TailwindHelper</h3>
<p class="leading-snug">Helper</p>
<p class="leading-tight">Helper</p>

<p class="leading-tight">Helper</p>
<p class="leading-normal">Helper</p>
<p class="leading-relaxed">Helper</p>