@inherits Frame
<div class="accordion @Class @(Active ? ClassActive : ClassInactive)" style="@Style">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    /// <summary>
    /// The AccordionItems
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Defines whether more than one AccordionItem can be open at a time
    /// </summary>
    [Parameter]
    public bool Multiple { get; set; }
    
    /// <summary>
    /// Flags whether the style for this Accordion should be Flush
    /// </summary>
    [Parameter]
    public bool Flush { get; set; }

    /// <summary>
    /// The AccordionItems inside this Accordion
    /// </summary>
    private List<AccordionItem> _items = new();

    /// <summary>
    /// Allows AccordionItems to add themselves in this component for future reference
    /// </summary>
    public void AddItem(AccordionItem item) => _items.Add(item);

    /// <summary>
    /// Close all the AccordionItems
    /// </summary>
    public void CloseAll()
    {
        foreach (var acc in _items)
        {
            acc.CloseMe();
        }
    }

    /// <summary>
    /// Close all the AccordionItems except for the one clicked
    /// </summary>
    public void CloseAllOthers(AccordionItem item)
    {
        foreach (var acc in _items)
        {
            if (acc != item)
            {
                acc.CloseMe();
            }
            StateHasChanged();
        }
    }
    
    /// <summary>
    /// Open all the AccordionItems
    /// </summary>
    public void OpenAll()
    {
        foreach (var acc in _items)
        {
            acc.OpenMe();
        }
    }
}