@inherits TestContext
@using Flowbite.Blazor.Components.Accordion

@code {

    [Fact]
    public void DefaultAccordionTest()
    {
        var cut = Render(@<Accordion Class="mt-4 mb-8">
                             <AccordionItem First="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                             <AccordionItem>
                                 <Header>
                                     <span>Is there a Figma file available?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is first conceptualized and designed
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 mt-4 mb-8 " style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowdown">
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                              </div></div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                     <p diff:ignore></p></div></div>
                              <div class="" style="" >
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5" aria-expanded="False"><span>Is there a Figma file available?</span>
                                          <div>
                                              <div name="arrowdown"><svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                                  </div></div></button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                      <p diff:ignore></p></div></div>
                          </div>);
    }
    
    [Fact]
    public void OpenParameterAccordionTest()
    {
        var cut = Render(@<Accordion>
                             <AccordionItem First="true" Open="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active border-t rounded-t-xl" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                              </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p></div></div>
                                </div>);
    }
    
    [Fact]
    public void OpenAlwaysParameterAccordionTest()
    {
        var cut = Render(@<Accordion>
                             <AccordionItem First="true" OpenAlways="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        var buttonElement = cut.Find("button");
        //Click AccordionItem button/header to close but should stay open    
        buttonElement.Click();
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active border-t rounded-t-xl" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                              </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p></div></div>
                                </div>);
    }
    
    [Fact]
    public void OpenAndCloseClickAccordionTest()
    {
        var cut = Render(@<Accordion>
                             <AccordionItem First="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        var buttonElement = cut.Find("button");
        //Click AccordionItem button/header to open    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active border-t rounded-t-xl" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                              </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p></div></div>
                                </div>);
            
        //Click AccordionItem button/header to close    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                  <div class="" style="">
                      <h2 class="group">
                          <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                              <span>What is Flowbite?</span>
                              <div>
                                  <div name="arrowdown">
                                      <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                  </div></div>
                          </button></h2>
                      <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                         <p diff:ignore></p></div></div>
              </div>);
    }
    
    [Fact]
    public void FlushAccordionTest()
    {
        var cut = Render(@<Accordion Flush="true">
                             <AccordionItem First="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        var buttonElement = cut.Find("button");
        //Click AccordionItem button/header to open    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700" style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border-b accordion-btn-active-flush" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                              </div>
                                      </button></h2>
                                  <div class="py-5 border-b border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p></div></div>
                                </div>);
            
        //Click AccordionItem button/header to close    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700" style="">
                  <div class="" style="">
                      <h2 class="group">
                          <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border-b" aria-expanded="False">
                              <span>What is Flowbite?</span>
                              <div>
                                  <div name="arrowdown">
                                      <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                  </div></div>
                          </button></h2>
                      <div class="py-5 border-b border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                         <p diff:ignore></p></div></div>
              </div>);
    }

    [Fact]
    public void ArrowStyleAccordionTest()
    {
        var cut = Render(@<Accordion Class="mt-4 mb-8">
                <AccordionItem First="true">
                    <ArrowDown>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 dark:text-white dark:fill-white" fill="none" viewBox="0 0 10 12">
                            <g fill="#2F2F38">
                                <path d="M5 12a.997.997 0 0 1-.705-.293L.305 7.711A.999.999 0 1 1 1.715 6.3L5 9.589l3.285-3.29a.997.997 0 0 1 1.69.71 1 1 0 0 1-.28.702l-3.99 3.996A.997.997 0 0 1 5 12Z"/>
                                <path d="M5 6.006a.997.997 0 0 1-.705-.293L.305 1.718A.999.999 0 1 1 1.715.305L5 3.595 8.285.305a.997.997 0 1 1 1.41 1.413l-3.99 3.995A.997.997 0 0 1 5 6.006Z"/>
                            </g>
                        </svg>
                    </ArrowDown>
                    <ArrowUp>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 dark:text-white dark:fill-white" fill="none" viewBox="0 0 10 12">
                            <g fill="#2F2F38">
                                <path d="M9.001 5.994a.999.999 0 0 1-.706-.293l-3.289-3.29-3.289 3.29A.999.999 0 1 1 .305 4.288L4.3.292a.999.999 0 0 1 1.412 0l3.996 3.996A1 1 0 0 1 9 5.994Z"/>
                                <path d="M9.001 11.988a.998.998 0 0 1-.706-.293l-3.289-3.29-3.289 3.29a1 1 0 1 1-1.412-1.413L4.3 6.286a.999.999 0 0 1 1.412 0l3.996 3.996A.999.999 0 0 1 9 11.988Z"/>
                            </g>
                        </svg>
                    </ArrowUp>
                    <Header>
                        <span>Changing the style for the arrows to chevron double</span>
                    </Header>
                    <Body>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        Flowbite is an open-source library of interactive components
                    </p>
                    </Body>
                </AccordionItem>
                </Accordion>);
        
        var buttonElement = cut.Find("button");
        //Click AccordionItem button/header to open    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 mt-4 mb-8" style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active border-t rounded-t-xl" aria-expanded="True">
                                          <span diff:ignore></span>
                                          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 dark:text-white dark:fill-white" fill="none" viewBox="0 0 10 12">
                                              <g fill="#2F2F38">
                                                  <path d="M9.001 5.994a.999.999 0 0 1-.706-.293l-3.289-3.29-3.289 3.29A.999.999 0 1 1 .305 4.288L4.3.292a.999.999 0 0 1 1.412 0l3.996 3.996A1 1 0 0 1 9 5.994Z"/>
                                                  <path d="M9.001 11.988a.998.998 0 0 1-.706-.293l-3.289-3.29-3.289 3.29a1 1 0 1 1-1.412-1.413L4.3 6.286a.999.999 0 0 1 1.412 0l3.996 3.996A.999.999 0 0 1 9 11.988Z"/>
                                              </g>
                                          </svg>
                                      </button>
                                  </h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p></div></div>
                          </div>);
        
        //Click AccordionItem button/header to close    
        buttonElement.Click();
            
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 mt-4 mb-8" style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                                          <span diff:ignore></span>
                                          <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 dark:text-white dark:fill-white" fill="none" viewBox="0 0 10 12">
                                              <g fill="#2F2F38">
                                                  <path d="M5 12a.997.997 0 0 1-.705-.293L.305 7.711A.999.999 0 1 1 1.715 6.3L5 9.589l3.285-3.29a.997.997 0 0 1 1.69.71 1 1 0 0 1-.28.702l-3.99 3.996A.997.997 0 0 1 5 12Z"/>
                                                  <path d="M5 6.006a.997.997 0 0 1-.705-.293L.305 1.718A.999.999 0 1 1 1.715.305L5 3.595 8.285.305a.997.997 0 1 1 1.41 1.413l-3.99 3.995A.997.997 0 0 1 5 6.006Z"/>
                                              </g>
                                          </svg>
                                      </button>
                                  </h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                      <p diff:ignore></p></div></div>
                          </div>);
            
    }
    
    [Fact]
    public void NestedAccordionTest()
    {
        var cut = Render(@<Accordion Class="mt-4 mb-8">
                                     <AccordionItem First="true">
                                         <Header>
                                             <span>Nested accordion</span>
                                         </Header>
                                         <Body>
                                         <Accordion Class="mt-4">
                                             <AccordionItem First="true">
                                                 <Header>
                                                     <span>What is Flowbite?</span>
                                                 </Header>
                                                 <Body>
                                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                                     Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.
                                                 </p>
                                                 </Body>
                                             </AccordionItem>
                                         </Accordion>
                                         </Body>
                                     </AccordionItem>
                                 </Accordion>);
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 mt-4 mb-8" style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                                          <span>Nested accordion</span>
                                          <div>
                                              <div name="arrowdown">
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                              </div></div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                      <div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 mt-4" style="">
                                          <div class="" style="">
                                              <h2 class="group">
                                                  <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                                                      <span>What is Flowbite?</span>
                                                      <div>
                                                          <div name="arrowdown">
                                                              <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                                          </div></div>
                                                  </button></h2>
                                              <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                                  <p diff:ignore></p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>);
    }
    
    [Fact]
    public async void OpenAllAccordionTest()
    {
        var cut = Render(@<Accordion>
                             <AccordionItem First="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                             <AccordionItem>
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        //open all the items
        cut.WaitForAssertion(() => cut.FindComponent<Accordion>().Instance.OpenAll());
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active border-t rounded-t-xl" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                          </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p>
                                  </div>
                              </div>
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 accordion-btn-active" aria-expanded="True">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowup" >
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6" >
                                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" ></path>
                                                  </svg>
                                              </div>
                                          </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out translate-y-0">
                                      <p diff:ignore></p>
                                  </div>
                              </div>
                                </div>);
    }
    
    [Fact]
    public async void CloseAllAccordionTest()
    {
        var cut = Render(@<Accordion>
                             <AccordionItem First="true">
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                             <AccordionItem>
                                 <Header>
                                     <span>What is Flowbite?</span>
                                 </Header>
                                 <Body>
                                 <p class="mb-2 text-gray-500 dark:text-gray-400">
                                     Flowbite is an open-source library of interactive components
                                 </p>
                                 </Body>
                             </AccordionItem>
                         </Accordion>);
        
        cut.WaitForAssertion(() => cut.FindComponent<Accordion>().Instance.OpenAll());

        //close all the items
        cut.WaitForAssertion(() => cut.FindComponent<Accordion>().Instance.CloseAll());
        
        cut.MarkupMatches(@<div class="text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700"style="">
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5 border-t rounded-t-xl" aria-expanded="False">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowdown">
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                              </div>
                                          </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                      <p diff:ignore></p>
                                  </div>
                              </div>
                              <div class="" style="">
                                  <h2 class="group">
                                      <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-neutral-500 dark:text-neutral-400 border-neutral-200 dark:border-neutral-700 border focus:ring-4 focus:ring-neutral-200 dark:focus:ring-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-5" aria-expanded="False">
                                          <span>What is Flowbite?</span>
                                          <div>
                                              <div name="arrowdown">
                                                  <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path></svg>
                                              </div>
                                          </div>
                                      </button></h2>
                                  <div class="p-5 border border-neutral-200 dark:border-neutral-700 text-neutral-500 dark:text-neutral-400 transition-transform ease-in-out hidden translate-y-full">
                                      <p diff:ignore></p>
                                  </div>
                              </div>
                                </div>);
    }
}